@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* 🔥 <-- Shared Styles --> 🔥 */
* {
    margin: 0px;
    padding: 0px;
}
header,
main {
    max-width: 1155px;
    margin: 0px auto;
}
/* default font styles */
.primary-font {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
.primary-para,
.nav-link a {
    color: rgb(58, 58, 58);
    font-weight: 600;
    font-size: 1rem;
}
/*  <-- 🔥End Shared Styles 🔥  --> */
/*--------------------------------------------------------- */
/*--------------------------------------------------------- */
/* 🔥<== Header Section Styles  ==>🔥 */
.header {
    margin-top: 80px;
}
.brand-name {
    color: rgb(58, 58, 58);
    font-size: 1.5rem;
    font-weight: 700;
}
/* 🔥<== Navbar Styles  ==>🔥 */
.navbar {
    display: flex;
    justify-content: space-between;
}
.nav-links-container {
    display: flex;
    list-style: none;
}
.nav-link {
    margin-right: 34px;
}
.nav-link a {
    text-decoration: none;
}
/*--------------------------------------------------------- */
/*--------------------------------------------------------- */
/* 🔥<== Banner Section Styles  ==>🔥 */
.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    gap: 130px;
    /* border: 2px solid tomato; */
}

.banner-header {
    color: rgb(58, 58, 58);
    font-size: 3.25rem;
    font-weight: 700;
}
.banner-image {
    background: url(../images/circle-design.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    /* width: 475px; */
    padding: 10px;
    /* border: 2px solid steelblue; */
}
.banner-image img {
    width: 440px;
}

.banner-btn button {
    margin-top: 20px;
    padding: 10px 24px;
    border-radius: 40px;
    border: none;
    background-color: rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 700;
}
.banner-btn-text {
    margin-right: 12px;
}
/*--------------------------------------------------------- */
/*--------------------------------------------------------- */
/* 🔥<== Payment-images Section Styles  ==>🔥 */
.payment-images {
    margin-top: 70px;
    display: flex;
    gap: 60px;
    justify-content: center;
    flex-wrap: wrap;
}
/*--------------------------------------------------------- */
/*--------------------------------------------------------- */
/* 🔥<== Collection Section Styles  ==>🔥 */
.collection-container {
    margin: 100px 0px;
    /* padding: 0px 75px; */
}
.collection-header {
    color: rgb(58, 58, 58);
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}
.collection-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0px 40px;
}
.collection-card {
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
    padding-bottom: 40px;
    /* background: rgb(255, 255, 255); */
}
.collection-card-title {
    color: rgb(24, 25, 31);
    font-size: 1.75rem;
    font-weight: 500;
}
.collection-card-price {
    color: rgba(0, 0, 0, 0.87);
    font-family: "Inter", serif;
    font-size: 1.5rem;
    font-weight: 400;
}
.collection-card-rating {
    margin: 10px 0px;
}
.collection-card-rating span {
    color: #5e6366;
    font-family: "Poppins", serif;
    font-size: 0.9rem;
    font-weight: 700;
}
.icon {
    color: orange;
}
.collection-btn {
    text-align: right;
    padding-right: 50px;
}
.collection-btn button {
    margin-top: 50px;
    background: none;
    border: none;
    color: rgba(224, 44, 109, 0.87);
    font-size: 1rem;
    font-weight: 700;
}
/*--------------------------------------------------------- */
/*--------------------------------------------------------- */
/* 🔥<== Featured Section Styles  ==>🔥 */
.featured-container {
    margin-bottom: 100px;
    display: flex;
    gap: 100px;
    align-items: center;
}
.featured-header {
    color: rgb(10, 8, 38);
    font-size: 2.35rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.featured-info {
    color: rgb(108, 108, 108);
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 16px;
}
.featured-btn button {
    padding: 10px 24px;
    border: none;
    background: rgb(224, 44, 109);
    color: white;
    font-size: 1rem;
    font-weight: 700;
}
/*--------------------------------------------------------- */
/*--------------------------------------------------------- */
/* 🔥<== Footer Section Styles  ==>🔥 */
.footer {
    background: rgb(10, 8, 38);
    color: white;
    text-align: center;
    padding: 40px;
}
.footer-title {
    font-size: 1.5rem;
    font-weight: 700;
}
.footer-info {
    color: rgb(217, 219, 225);
    font-size: 0.9rem;
    font-weight: 600;
}
.footer-link {
    list-style: none;
}
.footer-link a {
    text-decoration: none;
}
.footer-links-container {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 15px;
}
.footer-icon {
    border: 8px solid rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    color: white;
    font-size: 20px;
}
/*--------------------------------------------------------- */
/*--------------------------------------------------------- */
/* 📱 <== Responsive Media Query Styles ==> 💻 */
@media screen and (max-width: 576px) {
    header,
    main {
        padding: 15px;
    }
    .header {
        margin-top: 20px;
    }
    .navbar {
        flex-direction: column;
    }
    .brand-name {
        text-align: center;
        margin-bottom: 10px;
    }
    .nav-links-container {
        display: grid;
        grid-template-columns: repeat(2, 100px);
        gap: 10px;
        margin: 0px auto;
    }
    /* Banner Section */
    .banner-container {
        flex-direction: column-reverse;
        gap: 10px;
    }
    .banner-header,
    .banner-info {
        text-align: center;
    }
    .banner-header {
        font-size: 2rem;
    }
    .banner-image img {
        width: 100%;
    }
    .banner-btn {
        text-align: center;
    }
    /* Payment Section */
    .payment-images img {
        width: 16%;
    }
    .payment-images {
        gap: 30px;
    }
    /* 🔥<== Collection Section Styles  ==>🔥 */
    .collection-cards-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 0px;
    }
    .collection-card-image {
        width: 100%;
    }
    /* 🔥<== Featured Section Styles  ==>🔥 */
    .featured-container {
        flex-direction: column-reverse;
        text-align: center;
        gap: 30px;
        padding: 0px 20px;
    }
    .featured-btn {
        margin-top: 40px;
    }
    .featured-image img {
        width: 100%;
    }
    /* .footer {
        width: 200px;
    } */
}
/* Medium Screen */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header,
    main {
        padding: 15px;
    }
    .header {
        margin-top: 20px;
    }
    .navbar {
        flex-direction: column;
    }
    .brand-name {
        text-align: center;
        margin-bottom: 10px;
    }
    .nav-links-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 10px;
        justify-items: center;
        /* margin: 0px auto; */
    }
    /* Banner Section */
    .banner-container {
        flex-direction: column-reverse;
        gap: 10px;
    }
    .banner-header,
    .banner-info {
        text-align: center;
    }
    .banner-header {
        font-size: 2rem;
    }
    .banner-image img {
        width: 100%;
    }
    .banner-btn {
        text-align: center;
    }
    /* Payment Section */
    .payment-images {
        gap: 30px;
    }
    /* 🔥<== Collection Section Styles  ==>🔥 */
    .collection-cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 0px;
    }
    .collection-card-image {
        width: 100%;
    }
    /* 🔥<== Featured Section Styles  ==>🔥 */
    .featured-container {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }
    .feature-btn {
        margin-top: 40px;
    }
}
